*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.image-canvas{
    width: 100vw;
    height: 100vh;
}

.image{
    width: 100vw;
    position:absolute;
    inset: 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.image[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}

#left-slide-arrow{
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 50%;
    height: 30px;
    width: 30px;
    padding-right: 3px;
    padding-bottom: 2px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#right-slide-arrow{
    font-size: 20px;
    position:absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    height: 30px;
    width: 30px;
    padding-left: 3px;
    padding-bottom: 2px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#left-slide-arrow:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

#right-slide-arrow:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

.canvas-footer{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-index-btn{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.image-index-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 0.5px 0.5px 1px white;
}

.image-index-btn[data-active]{
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 1px white, 1px 1px 1px white;
}